.zmxqwkfbejrqapbt6wdbyw9c77apn-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div18 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.divframer-1w3xset1 {
  top: 0;
  left: 15rem;
}
.divframer-1w3xset1,
.divframer-1ycl6m1,
.divframer-bblki71 {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
}
.divframer-bblki71 {
  right: 0;
  bottom: 0;
}
.divframer-1ycl6m1 {
  top: 0;
  left: 7.5rem;
}
.divframer-1dnhb971 {
  top: 0;
  left: 22.5rem;
}
.divframer-1dnhb971,
.divframer-eavpp81,
.divframer-w2t5391 {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
}
.divframer-eavpp81 {
  top: 7.5rem;
  left: 0;
}
.divframer-w2t5391 {
  bottom: 0;
  left: 7.5rem;
}
.divframer-spp2p81 {
  top: 7.5rem;
  left: 15rem;
}
.divframer-1l1064p1,
.divframer-1m45co21,
.divframer-spp2p81 {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
}
.divframer-1l1064p1 {
  top: 7.5rem;
  left: 22.5rem;
}
.divframer-1m45co21 {
  top: 0;
  left: 0;
}
.divframer-11lc4h61 {
  bottom: 0;
  left: 15rem;
}
.divframer-11lc4h61,
.divframer-1fv8yp71,
.divframer-1wr33m21 {
  position: absolute;
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
}
.divframer-1fv8yp71 {
  top: 7.5rem;
  left: 7.5rem;
}
.divframer-1wr33m21 {
  bottom: 0;
  left: 0;
}
.divframer-145h7r41,
.image1 {
  position: absolute;
  height: 22.5rem;
}
.divframer-145h7r41 {
  top: -0.025rem;
  left: calc(50% - 245px);
  width: 30.625rem;
  opacity: 0.2;
}
.image1 {
  width: 22.5rem;
  margin: 0 !important;
  top: calc(50% - 180.45px);
  left: calc(50% - 180.5px);
  background-color: #000;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.vector-icon3 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 0.35rem;
  object-fit: contain;
}
.why-should-you {
  margin: 0;
}
.why-should-you-container {
  position: relative;
  line-height: 1.875rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.vector-icon4 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 0.35rem;
}
.vector-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.562rem;
  z-index: 1;
  font-size: 1.5rem;
  font-family: "FONTSPRING DEMO - Roca One Rg";
}
.frame-child {
  width: 2.131rem;
  position: relative;
  height: 2.131rem;
  object-fit: contain;
}
.do-it-together-live-on {
  align-self: stretch;
  position: relative;
}
.frame-div {
  width: 6.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.frame-item {
  width: 2.131rem;
  position: relative;
  height: 2.131rem;
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.687rem;
  z-index: 2;
  color: #fff;
}
.apply-now {
  position: relative;
  line-height: 1.05rem;
}
.divframer-923v641,
.p5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.p5 {
  align-self: stretch;
  align-items: center;
  padding: 0.006rem 0 0.056rem;
}
.divframer-923v641 {
  align-items: flex-start;
}
.div17,
.divframer-zlvey91 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.divframer-zlvey91 {
  align-self: stretch;
  border-radius: 4px;
  background: linear-gradient(90.32deg, #f56563, #e54988);
  height: 2.25rem;
  flex-direction: row;
  justify-content: center;
  padding: 0.568rem 7.087rem;
  z-index: 3;
  color: #fafafa;
  cursor: pointer;
}
.div17 {
  width: 23.438rem;
  background: linear-gradient(#050505, #050505), #f5f5f5;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.875rem 1.5rem;
  position: relative;
  gap: 2rem;
  text-align: center;
  font-size: 0.875rem;
  color: #f5f5f5;
  font-family: "Proxima Nova";
}
